<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="CE CE_FORM_FORMFRAMEWORK my-0 py-0">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

            <f:form class="newForm mt-fg" id="newsletter_register" action="optoutSubmit" object="{receiver}" name="receiver">
                <f:form.validationResults>
                    <f:if condition="{validationResults.flattenedErrors}">
                        <div class="alert alert-warning">
                            <h4><f:translate key="LLL:EXT:theme/Resources/Private/Language/locallang.xlf:cleverreachsubscription.error.intro" /></h4>
                            <ul class="errors m-0 p-0">
                                <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                                    <f:for each="{errors}" as="error">
                                        <li><f:translate key="LLL:EXT:theme/Resources/Private/Language/locallang.xlf:cleverreachsubscription.error.{error.code}">{error}</f:translate></li>
                                    </f:for>
                                </f:for>
                            </ul>
                        </div>
                    </f:if>
                </f:form.validationResults>

                <div class="radio-button-list RadioButton mb-fg">
                    <div class="row">
                        <div class="col-12 d-flex flex-column flex-sm-row">

                            <f:for each="{newsletter}" as="label" key="groupId" iteration="i">
                                <div class="input-type-radiobox">
                                    <f:form.radio id="nl-{i.index}" value="{groupId}" property="groupId" checked="{f:if(condition: '{i.index} === 0', then: 'true', else: 'false')}" />
                                    <label class="d-inline m-0" for="nl-{i.index}">{label}</label>
                                </div>
                            </f:for>
                        </div>
                    </div>
                </div>

                <div class="form-group Email ">
                    <f:form.textfield type="email" property="email" required="TRUE" placeholder="Email Adresse" class=" form-control" id="newsletter_register-email" />
                    <label for="newsletter_register-email">Email Adresse<sup>*</sup></label>
                </div>

                <div class="actions">
                    <nav class="form-navigation">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group"><span class="next submit"><button class="btn btn-primary" type="submit"><f:translate key="LLL:EXT:theme/Resources/Private/Language/locallang.xlf:cleverreachsubscription.btn.unsubscribe" /></button></span></div>
                        </div>
                    </nav>
                </div>
            </f:form>

        </div>
    </div>
</div>
</html>
